:root {
    --bg-waves: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg version="1.1" viewBox="0 0 900 900" xmlns="http://www.w3.org/2000/svg"><rect width="900" height="900" fill="%23e7f5ff"/><g transform="translate(900)"><path d="m0 572.8c-44.9-25.6-89.8-51.1-136.1-64.7-46.4-13.6-94.1-15.3-140.4-29.2s-91.1-39.9-128.5-73.9-67.4-75.9-86.9-121-28.6-93.5-40.3-141.4c-11.8-47.9-26.2-95.2-40.6-142.6h572.8z" fill="%23d6e8ff"/><path d="m0 458.2c-35.9-20.4-71.8-40.9-108.9-51.7-37.1-10.9-75.3-12.3-112.3-23.4s-72.9-31.9-102.8-59.1-53.9-60.7-69.5-96.8-22.9-74.8-32.3-113.1-20.9-76.2-32.4-114.1h458.2z" fill="%23e4c2fe"/><path d="m0 343.7c-26.9-15.4-53.9-30.7-81.7-38.9-27.8-8.1-56.4-9.1-84.2-17.5-27.8-8.3-54.7-23.9-77.1-44.3s-40.4-45.5-52.1-72.6c-11.8-27.1-17.2-56.1-24.2-84.8-7.1-28.8-15.7-57.2-24.4-85.6h343.7z" fill="%23ff90bf"/><path d="m0 229.1c-18-10.2-35.9-20.4-54.5-25.9-18.5-5.4-37.6-6.1-56.1-11.6-18.5-5.6-36.4-16-51.4-29.6s-27-30.3-34.8-48.4-11.4-37.4-16.1-56.6c-4.7-19.1-10.4-38.1-16.2-57h229.1z" fill="%23ff7353"/><path d="m0 114.6c-9-5.2-18-10.3-27.2-13-9.3-2.7-18.8-3-28.1-5.8s-18.2-8-25.7-14.8-13.5-15.2-17.4-24.2-5.7-18.7-8-28.3c-2.4-9.6-5.3-19-8.2-28.5h114.6z" fill="%23e67700"/></g><g transform="translate(0 900)"><path d="m0-572.8c42.1 39.9 84.2 79.8 127.9 95.6 43.6 15.9 88.9 7.7 141.1 11.3s111.5 19.1 136 60.9 14.3 110.1 21.1 159 30.6 78.5 57.8 116.3c27.3 37.8 58.1 83.8 88.9 129.7h-572.8z" fill="%23d6e8ff"/><path d="m0-458.2c33.7 31.9 67.4 63.8 102.3 76.5 34.9 12.6 71.1 6.1 112.9 9s89.2 15.2 108.8 48.7 11.4 88.1 16.9 127.2c5.4 39.1 24.4 62.8 46.2 93.1 21.9 30.2 46.5 66.9 71.1 103.7h-458.2z" fill="%23e4c2fe"/><path d="m0-343.7c25.3 24 50.5 47.9 76.7 57.4s53.4 4.6 84.7 6.7c31.3 2.2 66.9 11.5 81.6 36.6s8.6 66 12.7 95.4c4 29.4 18.3 47.1 34.7 69.8 16.3 22.7 34.8 50.2 53.3 77.8h-343.7z" fill="%23ff90bf"/><path d="m0-229.1c16.8 15.9 33.7 31.9 51.1 38.2 17.5 6.4 35.6 3.1 56.5 4.5 20.9 1.5 44.6 7.7 54.4 24.4s5.7 44 8.4 63.6 12.3 31.4 23.2 46.5 23.2 33.5 35.5 51.9h-229.1z" fill="%23ff7353"/><path d="m0-114.6c8.4 8 16.8 16 25.6 19.2 8.7 3.1 17.8 1.5 28.2 2.2s22.3 3.8 27.2 12.2 2.9 22 4.2 31.8c1.4 9.8 6.1 15.7 11.6 23.3 5.4 7.5 11.6 16.7 17.8 25.9h-114.6z" fill="%23e67700"/></g></svg>');
}

* {
    margin: 0;
    padding: 0;
}

html {
    overflow: auto;
    min-height: 100%;
}

body {
    overflow: auto;
    min-height: 100%;
    font-family: sans-serif;
    background: var(--bg-waves);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}